ignoreMe.txt
pw.py
/__pycache__
bacon.txt
hello.txt
mydata.bak
mydata.dat
mydata.dir
sonnet29.txt
junkEmailGate.json
geckodriver.log
/spam
/.vscode
/delicious
RomeoAndJuliet.txt
geckodriver.log
flickrtest.html
